.App {
    width: 30vw;
    height: 80vh;
}

.todoList {
    border: 3px solid white;
    border-radius: 20px;
    width: 250px;
    margin: 0 auto;
}

.todoList > div {
    padding: 10px;
}

.todoList-task {
color: white;
}

.filter-active {
    background-color: blue;
}

.error {
    border-color: red;
}

.todoList-task.done {
    opacity: 0.5;
}

.todoList-header__title{
    color: white;
}