.App {
    width: 30vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todoList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 3px solid white;
    border-radius: 20px;
    width: 250px;
    margin: 0 auto;
}

.todoList > div {
    padding: 10px;
}

.todoList-task {
    color: white;
    position: relative;
    z-index: 0;
}

.filter-active {
    background-color: blue;
}

.error {
    border-color: red;
}

.todoList-task.done {
    opacity: 0.5;
}

.todoList-header__title{
    color: white;
}

   .cloudList {
    position: absolute;
    top: 0px;
    left: 450px;
    z-index: 2;
}