.cloud {
    border: 1px solid white; /*Толщина рамки в пикселах,тип границы (в данном случае сплошная линия) и цвет линии */
    border-radius: 4px;
    height: auto;
    padding: 5px; /*расстояние от текста до рамки*/
    max-width: 250px; /*устанавливает максимальную ширину элемента*/
    word-wrap: break-word; /*указывает, переносить или нет длинные слова, которые не помещаются по ширине в заданную область*/
    background-color: white; /* внешний фон*/
    position: relative;
}

.wrapper {
    padding-left: 350px;
    padding-top: 200px;
}

.after {
    position: absolute; /* Абсолютное позиционирование*/
    left: -40px;
    bottom: -7px; /*Положение треугольника*/
    border: 20px solid transparent; /*Прозрачные границы */
    border-right: 20px solid white;
    border-bottom: 20px solid white;
}

.time {
    text-align: left;
    color: #61dafb;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;

}
