
.input_box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    height: 40px;
    border-radius: 7px;
    text-align: center;
}


.input{
    text-align: center;

}

.error{
    border-color: red;
}
