.qualityAll{
    size: 100px;
    color: white;
    font-style: italic;
    font-family: Castellar;
}

.quality{
    size: 100px;
    color: blue;
    font-style: inherit;
    font-family: "Arial Rounded MT Bold";
}