
.App {
  background-color: #61dafb;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.App span {
  color: white;
}

.App img{
  width: 400px;
  height: 300px;
}
